:root {
  --black: #000000;
  --intro-blue: #4bd5ee;
  --logo-yellow: #ffe81f;
  --primary-black: #000814;
  --primary-gray: #001d3d;
  --primary-blue: #003566;
  --primary-orange: #ffc300;
  --primary-yellow: #ffd60a;
  --primary-light: #e5e5e5;
  --primary-white: #ffffff;
}