$component: ".intro";

#{$component} {
  @include grid;

  &__phrase,
  &__me {
    grid-column: 1 / span 5;
    line-height: 150%;
    margin: 0 rem(20);
  }

  &__phrase {
    color: var(--primary-light);
    display: block;
    font-size: rem(16);
    font-weight: bold;
    margin-bottom: rem(20);
    text-transform: uppercase;
  }

  &__me {
    color: var(--primary-light);
    font-size: rem(20);

    > span,
    > strong {
      color: var(--primary-orange);
    }
  }
}