$component: ".navigation";

#{$component} {
  // background-color: var(--primary-black);
  height: rem(70);
  overflow: hidden;

  &__wrapper {
    align-items: center;
    background-color: var(--primary-black);
    // background: linear-gradient(180deg,var(--primary-black) 3rem, rgba(var(--primary-gray),0));
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: rem(20);
    position: fixed;
    width: 100%;
    z-index: zindex(modal);

    @include tablet {
      padding: rem(40);
    }
  }

  &__logo {
    a {
      color: var(--primary-orange);
      font-family: 'Fira Mono', monospace;
      font-size: rem(25);
      font-weight: bold;
    }
  }

  &__links {
    button {
      background-color: transparent;
      border: none;
      color: var(--primary-light);
      cursor: pointer;
      outline: none;
      padding: 0;

      svg:first-child {
        transition: all 300ms ease;
      }

      svg:nth-child(2) {
        color: var(--primary-orange);
        opacity: 0;
        margin-right: rem(-30);
        transform: rotate(180deg);
        transition: all 300ms ease;
      }

      &.--active {
        svg:first-child {
          margin-left: rem(-20);
          opacity: 0;
          pointer-events: none;
        }

        svg:nth-child(2) {
          margin-right: 0;
          opacity: 1;
          transform: rotate(0deg);
        }
      }
    }

    @include desktop {
      display: none;
    }
  }

  &__drawer {
    background-color: rgba(var(--primary-black), 0);
    height: 100vh;
    left: 0;
    margin-top: rem(70);
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    top: 0;
    transition: all 300ms ease;
    width: 100vw;

    > ul {
      align-items: flex-end;
      display: flex;
      flex-flow: column wrap;
      height: 100%;
      justify-content: center;
      list-style: none;
      margin: 0 rem(20) 0;
      padding: 0;
      position: relative;

      @include tablet {
        margin-right: rem(40);
      }

      &::before {
        background-color: var(--primary-black);
        content: "";
        display: block;
        height: 100%;
        left: 0;
        opacity: 0;
        pointer-events: none;
        position: absolute;
        top: 0;
        transition: all 300ms ease;
        width: 100%;
      }

      li {
        margin-bottom: rem(10);
        transform: translateX(150%);
        transition: transform 1s cubic-bezier(.86,0,.07,1);

        &:last-child {
          margin-bottom: 0;
        }

        &:nth-child(2) {
          transition-delay: 300ms;
        }
      }

      li > a {
        color: var(--primary-yellow);
        font-family: 'Fira Mono', monospace;
        font-size: rem(40);
        font-weight: bold;
      }
    }

    &.--active {
      background-color: rgba(var(--primary-black), 0.8);
      pointer-events: all;

      ul::before {
        opacity: 0.8;
        pointer-events: all;
      }

      ul li {
        transform: translateX(0);
      }
    }
  }

  &__desktop {
    display: none;
    flex-flow: row wrap;

    ul {
      display: flex;
      flex-flow: row wrap;
      list-style: none;
      margin: 0;
      padding: 0;

      li + li {
        margin-left: rem(20);
      }

      li > a {
        color: var(--primary-light);
        font-family: 'Fira Mono', monospace;
        font-size: rem(21);
        font-weight: lighter;

        &:hover {
          color: var(--primary-orange) !important;
        }
      }
    }
    
    @include desktop {
      display: block;
    }
  }
} 