$component: ".navigation";

#{$component} {
  background-color: var(--primary-black);
  height: rem(70);
  overflow: hidden;

  &__wrapper {
    align-items: center;
    background-color: var(--primary-black);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: rem(20);
    position: fixed;
    width: 100%;
  }

  &__logo {
    a {
      color: var(--primary-orange);
      font-family: 'Fira Mono', monospace;
      font-size: rem(25);
      font-weight: bold;
    }
  }

  &__links {
    button {
      background-color: transparent;
      border: none;
      color: var(--primary-light);
      cursor: pointer;
      outline: none;
      padding: 0;

      span:first-child {
        transition: all 300ms ease;
      }

      span:nth-child(2) {
        color: var(--primary-orange);
        opacity: 0;
        margin-right: rem(-30);
        transform: rotate(180deg);
        transition: all 300ms ease;
      }

      &.--active {
        span:first-child {
          margin-left: rem(-20);
          opacity: 0;
          pointer-events: none;
        }

        span:nth-child(2) {
          margin-right: 0;
          opacity: 1;
          transform: rotate(0deg);
        }
      }
    }
  }

  &__drawer {
    background-color: rgba(var(--primary-black), 0);
    height: 100vh;
    left: 0;
    margin-top: rem(70);
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    top: 0;
    transition: all 300ms ease;
    width: 100vw;
    z-index: zindex(modal);

    > ul {
      align-items: flex-end;
      display: flex;
      flex-flow: column wrap;
      height: 100%;
      justify-content: center;
      list-style: none;
      margin: 0 rem(20) 0;
      padding: 0;

      li {
        margin-bottom: rem(10);
        transform: translateX(150%);
        transition: transform 1s cubic-bezier(.86,0,.07,1);

        &:last-child {
          margin-bottom: 0;
        }

        &:nth-child(2) {
          transition-delay: 300ms;
        }
      }

      li > a {
        color: var(--primary-yellow);
        font-family: 'Fira Mono', monospace;
        font-size: rem(40);
        font-weight: bold;
      }
    }

    &.--active {
      background-color: rgba(var(--primary-black), 0.8);
      pointer-events: all;

      ul li {
        transform: translateX(0);
      }
    }
  }
} 