$component: ".works";

#{$component} {
  @include grid;

  &__wrapper {
    grid-column: 1 / span 5;
    margin: rem(50) rem(20);
  }

  &__header {
    color: var(--primary-light);
    display: block;
    font-size: rem(24);
    font-weight: bold;
    margin-bottom: rem(20);
    text-transform: uppercase;
  }

  &__project {
    cursor: pointer;
    display: block;
    position: relative;
    width: 100%;

    &::before {
      background: linear-gradient(to top, var(--primary-black) 4%, rgba(0,0,0,0) 100%);
      bottom: 0;
      content: "";
      display: block;
      height: 100%;
      left: 0;
      opacity: 0.6;
      position: absolute;
      width: 100%;
      z-index: 10;
    }

    & + & {
      margin-top: rem(30)
    }

    figure {
      @include aspect-ratio(295, 200);
      margin: 0;
      width: 100%;

      img {
        height: 100%;
        object-fit: cover;
        width: 100%;
      }
    }

    &-caption {
      bottom: 0;
      color: var(--primary-orange);
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      left: 0;
      position: absolute;
      width: 100%;
      padding: rem(10);
      z-index: 11;
    }
  }
}