@use 'sass:math';

/**
* Remove the unit of a length
* @param {Number} $number - Number to remove unit from
* @return {Number} - Unitless number
*/
@function strip-unit($number) {
  @if type-of($number) == "number" and not unitless($number) {
    @return math.div($number, ($number * 0 + 1));
  }

  @return $number;
}

/**
* Rem: Converts px in to rem
* @params:
*    {Number} $size - size in pixels (without px).
*/
@function rem($size) {
  $size: strip-unit($size);
  $bf: strip-unit($base-font-size);
  $remSize: math.div($size, $bf);

  @return #{$remSize}rem;
}