@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&family=Raleway:wght@100;300;400;500;700&display=swap');
@font-face {
  font-family: 'sf_distant_galaxy_outlineRg';
  src: url('/fonts/starjedi/sfdistantgalaxyoutline-xoeo-webfont.woff2') format('woff2'),
       url('/fonts/starjedi/sfdistantgalaxyoutline-xoeo-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html,
body {
  font-family: 'Raleway', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  margin: 0;
  padding: 0;

  > div {
    height: 100%;
  }
}

body {
  max-height: 100vh;
  max-width: 100vw;
  overflow: hidden;
  width: 100%;

  &.--animated {
    max-height: none;
    overflow-y: visible;
  }

  ::-moz-selection { background: var(--logo-yellow); }
  ::selection { background: var(--logo-yellow); }
}

.galaxy {
  background: linear-gradient(180deg, rgba(0,0,0,1) 77%, rgba(3,6,19,1) 100%);

  .star {
    background-color: var(--primary-white);
    height: rem(1);
    position: absolute;
    width: rem(1);
    z-index: 1;
  }
}

.container {
  margin-bottom: rem(40);
  overflow: hidden;
  padding: 0 rem(40);

  &:last-of-type {
    margin-bottom: 0;
  }

  @include tablet {
    margin-bottom: rem(100);
    padding: 0 rem(100);
  }

  @include desktop {
    margin: 0 auto rem(100);
    max-width: rem(1320);
    padding: 0 rem(300);
  }
}

a {
  color: var(--logo-yellow);
  text-decoration: none;
  transition: all 300ms ease;

  &:hover {
    color: var(--primary-light) !important;
  }
}

* {
  box-sizing: border-box;
}